@use "../../../styles.scss" as style;

.profile-banner {
  width: 100%;
  background: linear-gradient(135deg, #4a3f8a, #6b4fd8, #170661);
  background-size: 300% 300%;
  animation: gradientAnimation 8s ease infinite;

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  position: relative;
  padding: 4rem;

  .profile-info {
    display: flex;
    align-items: center;
    gap: 1rem;

    .textShop {
      color: style.$whiteColor;
      h2 {
        font-size: 3.5rem;
        font-weight: bold;
        margin: 0;
      }
      p {
        font-size: 1.5rem;
        margin: 0;
      }
    }

    .avatar {
      width: 200px;
      height: 200px;
      position: relative;
      border-radius: 25%;
      overflow: hidden;
      border: 3px solid style.$whiteColor;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .edit-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        cursor: pointer;
        font-size: 2rem;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &:hover .edit-icon {
        opacity: 1;
      }
    }
  }

  .edit-profile-button {
    position: absolute;
    top: 1.875rem;
    right: 1rem;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: style.$blackColor;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    i {
      margin-right: 8px;
    }

    &:hover {
      background-color: #333333;
    }
  }
}

.space {
  width: 100%;
  padding: 10px;
  text-align: center;
  border: black 3px solid;
  background-color: style.$blackColor;
  color: style.$whiteColor;
}

.main-container-products {
  padding: 20px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-rows: repeat(auto-fill, 340px);
  gap: 1.5rem;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  .cardAdd {
    width: 15.625rem;
    height: 20rem;
    background-color: #171717;
    color: white;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 0 4px 8px #171717;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgb(32, 32, 32);
    }

    .plus-icon {
      font-size: 3em;
      font-weight: bold;
      color: white;
    }
  }
}
.totalCard {
  .card {
    .img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      margin: 0 auto;
    }

    width: 15.625rem;
    height: 20rem;
    background: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px 1px #00000088;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
    .glass {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(23, 23, 23, 0.2);
      backdrop-filter: blur(50px);
      z-index: 1;
      transition-duration: 0.5s;
    }
    &:hover {
      transform: scale(1.05);
      z-index: 2;
      box-shadow: 0px 0px 10px 3px #00000088;

      .message {
        display: block;
        opacity: 1;
        visibility: visible;
      }
    }

    &::before {
      opacity: 1;
      content: "";
      position: absolute;
      display: block;
      width: 220px;
      height: 300px;
      transform: rotate(0deg) translateY(50%);
      background: linear-gradient(90deg, style.$purpleColor, transparent);
      transition: opacity 300ms;
      animation: rotation_9018 3000ms infinite linear;
      animation-play-state: paused;
    }

    &::after {
      opacity: 1;
      content: "";
      position: absolute;
      display: block;
      width: 220px;
      height: 300px;
      transform: rotate(0deg) translateY(-50%);
      background: linear-gradient(90deg, transparent, style.$purpleColor);
      transition: opacity 300ms;
      animation: rotation_9019 3000ms infinite linear;
      animation-play-state: paused;
    }

    &:hover::before,
    &:hover::after {
      opacity: 1;
      animation-play-state: running;
    }
  }

  .body-card {
    border-radius: 10px;
    background: #171717;
    width: 246px;
    height: 314px;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    .card-cont {
      width: 100%;
      height: 100%;
    }
    &::before {
      opacity: 0;
      transition: opacity 300ms;
      content: " ";
      display: block;
      background: #fff5;
      width: 50px;
      height: 50px;
      position: absolute;
      filter: blur(50px);
    }

    &:hover::before {
      opacity: 1;
    }
  }

  .card:hover .glass {
    opacity: 0;
  }

  .message {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: style.$blackColor;
    opacity: 0;
    visibility: hidden;
    display: none;
    margin: 0 auto 200px auto;
    position: relative;
    top: 50px;
    transition: opacity 0.6s ease, visibility 0.6s ease, transform 0.6s ease;
    transform: translateY(50px);

    &.show {
      opacity: 1;
      visibility: visible;
      display: block;
      transform: translateY(-105px);
    }

    button {
      color: style.$whiteColor;
      border: style.$greenColor 1px solid;
      background-color: style.$greenColor;

      &:hover {
        background-color: style.$hoverGreenColor;
        border: style.$hoverGreenColor 1px solid;
      }
    }
  }

  .icon-container {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 10px;
    top: 10px;
    right: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: style.$blackColor;
    border-radius: 0 0 0 10px;

    .heart-icon,
    .fa-ellipsis-vertical {
      font-size: 24px;
      cursor: pointer;
      transition: color 0.3s ease, border-color 0.3s ease;
    }
    .fa-ellipsis-vertical {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: style.$purpleColor;
      }
    }
    .heart-icon.fas {
      color: style.$RedColor;
      border-color: style.$RedColor;
    }
  }

  .card:hover .icon-container {
    visibility: visible;
    opacity: 1;
  }

  @keyframes rotation_9018 {
    0% {
      transform: rotate(0deg) translateY(50%);
    }
    100% {
      transform: rotate(360deg) translateY(50%);
    }
  }

  @keyframes rotation_9019 {
    0% {
      transform: rotate(0deg) translateY(-50%);
    }
    100% {
      transform: rotate(360deg) translateY(-50%);
    }
  }
}

.empty-store-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  min-height: 60vh;
  color: #333;

  .empty-icon {
    font-size: 5rem;
    color: #ccc;
    margin-bottom: 20px;
  }

  .empty-message {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #555;
  }

  .empty-description {
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
    max-width: 400px;
  }

  .explore-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: style.$purpleColor;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: style.$hoverPurpleColor;
    }
  }
}
// modal edit profile
:host ::ng-deep .p-dialog {
  border: 2px solid style.$boderPurpleColor;
  box-shadow: 0 0 10px style.$boderPurpleColor;

  .p-dialog-header-close {
    display: none;
  }

  .custom-dialog-content {
    &::-webkit-scrollbar {
      width: 0.3125rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: style.$blackColor;
      border-radius: 1.25rem;
    }
  }
}

.form {
  width: 100%;
  height: 100%;

  .editable-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    p-floatLabel {
      width: 100%;

      input {
        width: 100%;
        color: black;
      }

      label {
        font-size: 1rem;
      }
    }
  }

  .edit-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    button {
      width: 25%;
      height: 2.8125rem;
      font-size: 1.125rem;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &.save {
        color: style.$whiteColor;
        background-color: style.$greenColor;
        border: 1px solid style.$greenColor;

        &:hover {
          background-color: style.$hoverGreenColor;
          border: 1px solid style.$hoverGreenColor;
        }
      }

      &.cancel {
        color: style.$whiteColor;
        background-color: style.$RedColor;
        border: 1px solid style.$RedColor;

        &:hover {
          background-color: style.$hoverRedColor;
          border: 1px solid style.$hoverRedColor;
        }
      }
    }
  }
}

.blocked-container {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 10px;
  top: 10px;
  left: 10px;
  transition: opacity 0.3s ease;
  background-color: style.$blackColor;
  padding: 5px;
  border-bottom-right-radius: 5px;
  i {
    font-size: 24px !important;
  }
}
