<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
/>

<header>
  <nav class="navbar" [class.menu-open]="isMenuOpen">
    <div class="navbar-brand">
      <img src="logo-empresa.png" alt="Logo da Empresa" />
    </div>

    <div class="navbar-icons">
      <div
        class="buscar-box"
        [class.expanded]="isExpanded"
        (mouseenter)="isHovering = true"
        (mouseleave)="isHovering = false"
      >
        <div class="lupa-buscar" (click)="isExpanded = !isExpanded">
          <i class="fa fa-search"></i>
        </div>
        <div class="input-buscar" *ngIf="isExpanded">
          <input type="text" />
        </div>
      </div>
      <button class="icon-button">
        <i class="fa fa-shopping-cart"></i>
      </button>
      <button class="icon-button" (click)="toggleMenu()">
        <i class="fa" [ngClass]="isMenuOpen ? 'fa-times' : 'fa-bars'"></i>
      </button>
    </div>

    <div class="side-menu" [class.open]="isMenuOpen">
      <ul>
        <li><a href="">Home</a></li>
        <li>
          <a href="/login">cadastro</a>
        </li>
        <li *ngIf="nivel >= 2" class="username">Cadastrar Produto</li>
        <div class="profile">
          <a href="/perfil " *ngIf="id != ''; else elsePerfil"
            ><img [src]="avatar" alt="Avatar" class="avatar"
          /></a>
          <ng-template #elsePerfil>
            <a [routerLink]="['/login']"
              ><img [src]="avatar" alt="Avatar" class="avatar"
            /></a>
          </ng-template>
          <li class="username">{{ username }}</li>
          <li>
            <button (click)="logout()" class="logout-button">
              <i class="fas fa-sign-out-alt"></i>
            </button>
          </li>
        </div>
      </ul>
    </div>
  </nav>
</header>
