<div class="loading-overlay" *ngIf="isLoading">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" class="pl">
    <circle
      stroke-dashoffset="-376.4"
      stroke-dasharray="377 377"
      stroke-linecap="round"
      transform="rotate(-90,64,64)"
      stroke-width="8"
      stroke="rgba(109, 40, 217, 1)"
      fill="none"
      r="60"
      cy="64"
      cx="64"
      class="pl__ring1"
    ></circle>
    <circle
      stroke-dashoffset="-329.3"
      stroke-dasharray="329.9 329.9"
      stroke-linecap="round"
      transform="rotate(-90,64,64)"
      stroke-width="7"
      stroke="rgba(139, 92, 246, 0.9)"
      fill="none"
      r="52.5"
      cy="64"
      cx="64"
      class="pl__ring2"
    ></circle>
    <circle
      stroke-dashoffset="-288.6"
      stroke-dasharray="289 289"
      stroke-linecap="round"
      transform="rotate(-90,64,64)"
      stroke-width="6"
      stroke="rgba(168, 85, 247, 0.8)"
      fill="none"
      r="46"
      cy="64"
      cx="64"
      class="pl__ring3"
    ></circle>
    <circle
      stroke-dashoffset="-254"
      stroke-dasharray="254.5 254.5"
      stroke-linecap="round"
      transform="rotate(-90,64,64)"
      stroke-width="5"
      stroke="rgba(192, 132, 252, 0.7)"
      fill="none"
      r="40.5"
      cy="64"
      cx="64"
      class="pl__ring4"
    ></circle>
    <circle
      stroke-dashoffset="-225.8"
      stroke-dasharray="226.2 226.2"
      stroke-linecap="round"
      transform="rotate(-90,64,64)"
      stroke-width="4"
      stroke="rgba(233, 213, 255, 0.6)"
      fill="none"
      r="36"
      cy="64"
      cx="64"
      class="pl__ring5"
    ></circle>
    <circle
      stroke-dashoffset="-203.9"
      stroke-dasharray="204.2 204.2"
      stroke-linecap="round"
      transform="rotate(-90,64,64)"
      stroke-width="3"
      stroke="rgba(239, 219, 255, 0.5)"
      fill="none"
      r="32.5"
      cy="64"
      cx="64"
      class="pl__ring6"
    ></circle>
  </svg>
</div>
