<div class="carousel">
  <swiper-container
    style="--swiper-navigation-color: #000"
    class="mySwiper"
    thumbs-swiper=".mySwiper2"
    space-between="10"
    navigation="true"
  >
    @for (item of infoProduto.videosUrls; track item) {
    <swiper-slide>
      <video controls controlsList="nodownload" height="650px" width="100%">
        <source [src]="item" />
      </video>
    </swiper-slide>
    } @for (item of infoProduto.imgUrls; track item) {
    <swiper-slide>
      <img [src]="item" />
    </swiper-slide>
    }
  </swiper-container>
</div>
<div class="carousel">
  <swiper-container
    class="mySwiper2"
    space-between="10"
    slides-per-view="4"
    free-mode="true"
    watch-slides-progress="true"
  >
    @for (item of infoProduto.videosUrls; track item) {
    <swiper-slide>
      <video height="100%" width="100%">
        <source src="{{ item }}" />
      </video>
    </swiper-slide>
    } @for (item of infoProduto.imgUrls; track item) {
    <swiper-slide>
      <img src="{{ item }}" />
    </swiper-slide>
    }
  </swiper-container>
</div>

<p>{{ infoProduto.name }}</p>
