<div class="user">
  <div class="userDados">
    <div class="borderCard">
      <div class="card">
        <div class="card-details">
          <h1>Dados do Usuário</h1>
          <div class="values">
            <p-floatLabel>
              <input
                id="username"
                type="text"
                pInputText
                [disabled]="true"
                [value]="username"
              />
              <label for="username">Nome</label>
            </p-floatLabel>

            <p-floatLabel>
              <input
                id="email"
                type="text"
                pInputText
                [disabled]="true"
                [value]="email"
              />
              <label for="email">Email</label>
            </p-floatLabel>

            <p-floatLabel>
              <input
                id="document"
                type="text"
                pInputText
                mask="CPF_CNPJ"
                [disabled]="true"
                [value]="document | mask : 'CPF_CNPJ'"
              />
              <label for="document">{{ documentType }}</label>
            </p-floatLabel>

            <p-floatLabel>
              <input
                id="phone"
                type="text"
                mask=""
                pInputText
                [disabled]="true"
                [value]="
                  phone | mask : '+00 (00) 0000-0000||+00 (00) 00000-0000'
                "
              />
              <label for="phone">Telefone</label>
            </p-floatLabel>
            <button
              class="card-button"
              *ngIf="!isEditing"
              (click)="openModal()"
            >
              <i class="fa fa-pencil edit-icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="img"></div>
  <p-dialog
    header="Edição de dados"
    [(visible)]="isEditing"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
    [closable]="true"
    [closeOnEscape]="true"
    [dismissableMask]="true"
    (onHide)="onCloseModal()"
    contentStyleClass="custom-dialog-content"
  >
    <div class="form">
      <form [formGroup]="form" (ngSubmit)="update()">
        <div class="editable-field">
          <p-floatLabel>
            <input pInputText formControlName="name" type="text" />
            <label for="username">Nome</label>
          </p-floatLabel>
          <div
            *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
            class="error"
          >
            <span *ngIf="form.get('name')?.errors?.['required']">
              Username é obrigatório.
            </span>
          </div>
        </div>

        <div class="editable-field">
          <p-floatLabel>
            <input pInputText formControlName="email" type="email" />
            <label for="email">Email</label>
          </p-floatLabel>
          <div
            *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
            class="error"
          >
            Email inválido.
          </div>
        </div>

        <div class="editable-field">
          <p-floatLabel>
            <input pInputText formControlName="password" type="password" />
            <label for="password">Senha</label>
          </p-floatLabel>
          <div
            *ngIf="
              form.get('password')?.invalid && form.get('password')?.touched
            "
            class="error"
          >
            <span
              *ngIf="!form.get('password')?.errors?.['required'] && form.get('password')?.errors?.['passwordStrength']"
              class="error"
            >
              A senha deve ter pelo menos 8 caracteres, uma letra maiúscula e um
              número.
            </span>
          </div>
        </div>

        <div class="editable-field">
          <p-floatLabel>
            <input
              pInputText
              formControlName="document"
              type="text"
              mask="CPF_CNPJ"
            />
            <label for="document">Documento</label>
          </p-floatLabel>
          <div
            *ngIf="
              form.get('document')?.invalid && form.get('document')?.touched
            "
            class="error"
          >
            <span *ngIf="form.get('document')?.errors?.['required']">
              CPF/CNPJ é obrigatório.
            </span>
            <span *ngIf="form.get('document')?.errors?.['invalidCpf']">
              CPF é inválido.
            </span>
            <span *ngIf="form.get('document')?.errors?.['invalidCnpj']">
              CNPJ é inválido.
            </span>
          </div>
        </div>

        <div class="editable-field">
          <p-floatLabel>
            <input
              pInputText
              formControlName="phone"
              type="text"
              mask="+00 (00) 0000-0000||+00 (00) 00000-0000"
              (input)="handlePhoneInput($event)"
            />
            <label for="phone">Telefone</label>
          </p-floatLabel>
          <div
            *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched"
            class="error"
          >
            Telefone esta inválido.
          </div>
        </div>

        <div class="edit-buttons">
          <button type="submit" class="save">Salvar</button>
          <button type="button" class="cancel" (click)="onCloseModal()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </p-dialog>
</div>
