@use "../../../styles.scss" as style;

.user {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: stretch;

  .menu {
    display: flex;
    gap: 5rem;
  }

  .userDados {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .borderCard {
      width: 80%;
      height: 80%;
      background: linear-gradient(
        90deg,
        style.$purpleColor 20%,
        style.$boderPurpleColor 50%,
        style.$purpleColor 80%
      );
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
      border: 1px solid style.$purpleColor;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 1s ease-in-out;
      clip-path: polygon(
        30px 0,
        100% 0,
        100% calc(100% - 30px),
        calc(100% - 30px) 100%,
        0 100%,
        0% 30px
      );
    }

    .card {
      width: 99%;
      height: 99%;
      background-color: style.$blackColor;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      clip-path: polygon(
        30px 0,
        100% 0,
        100% calc(100% - 30px),
        calc(100% - 30px) 100%,
        0 100%,
        0% 30px
      );
      transition: all 1s ease-in-out;

      .card-details {
        width: 90%;
        height: 90%;
        color: style.$blackColor;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
          color: style.$whiteColor;
        }
        .values {
          margin-top: 1rem;
          display: flex;
          flex-direction: column;
          gap: 12%;
          width: 100%;
          height: 70%;
          text-align: center;

          p-floatLabel {
            width: 100%;
            label {
              color: style.$whiteColor;
            }

            input {
              width: 100%;
              padding: 0.5rem;
              border: 3px solid style.$purpleColor;

              &:disabled {
                color: style.$blackColor;
                opacity: 0.9;
              }
            }
          }
        }

        button {
          margin: 0 auto;
          width: 35%;
          height: 2.8125rem;
          font-size: 1.125rem;
          border-radius: 10px;
          border: 2px solid style.$purpleColor;
          cursor: pointer;
          transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;

          &:hover {
            background-color: style.$purpleColor;
            color: style.$whiteColor;
          }
        }
      }
    }
  }

  .form {
    width: 100%;
    height: 100%;

    .editable-field {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;

      p-floatLabel {
        width: 100%;

        input {
          width: 100%;
          color: black;
        }

        label {
          font-size: 1rem;
        }
      }
    }

    .edit-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 32px;

      button {
        width: 25%;
        height: 2.8125rem;
        font-size: 1.125rem;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &.save {
          color: style.$whiteColor;
          background-color: style.$greenColor;
          border: 1px solid style.$greenColor;

          &:hover {
            background-color: style.$hoverGreenColor;
            border: 1px solid style.$hoverGreenColor;
          }
        }

        &.cancel {
          color: style.$whiteColor;
          background-color: style.$RedColor;
          border: 1px solid style.$RedColor;

          &:hover {
            background-color: style.$hoverRedColor;
            border: 1px solid style.$hoverRedColor;
          }
        }
      }
    }
  }

  ::ng-deep .p-dialog {
    border: 2px solid style.$boderPurpleColor;
    box-shadow: 0 0 10px style.$boderPurpleColor;

    .p-dialog-header-close {
      display: none;
    }

    .custom-dialog-content {
      &::-webkit-scrollbar {
        width: 0.3125rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: style.$blackColor;
        border-radius: 1.25rem;
      }
    }
  }

  .img {
    width: 80%;
    height: 75vh;
    max-height: 80%;
    background-image: url("../../../assets/imgs/user.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.error {
  width: 100%;
  color: style.$RedColor;
  font-size: 0.875rem;
  padding: 0;
}

@media screen and (max-width: 1010px) {
  .user {
    height: 90vh;
    display: block;
    margin: 0 auto;
    .userDados {
      width: 100%;
      height: 100%;
    }
  }
  .img {
    display: none;
  }
}
