<div class="main">
  <div class="carousel">
    <swiper-container
      style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
      class="mySwiper"
      thumbs-swiper=".mySwiper2"
      space-between="10"
      navigation="true"
      loop="true"
      pagination="true"
      autoplay="true"
      autoplay-delay="8000"
    >
      <swiper-slide>
        <img src="../../../assets/imgs/1.png" alt="Imagem 1" />
      </swiper-slide>
      <swiper-slide>
        <img src="../../../assets/imgs/2.png" alt="Imagem 2" />
      </swiper-slide>
    </swiper-container>
  </div>
  <div class="box">
    <h2>Categorias</h2>
    <div class="box-icon">
      <div
        routerLink="/produtos/categoria/jogos"
        class="icon"
        aria-label="Ícone 1"
      >
        <i class="bx bxs-joystick"></i>
        <p>Jogos</p>
      </div>

      <div
        routerLink="/produtos/categoria/gift-cards"
        class="icon"
        aria-label="Ícone 2"
      >
        <i class="bx bxs-gift"></i>
        <p>Gift Card</p>
      </div>
      <div
        routerLink="/produtos/categoria/assinaturas"
        class="icon"
        aria-label="Ícone 3"
      >
        <i class="fas fa-user-tie"></i>
        <p>Assinaturas</p>
      </div>
      <div
        routerLink="/produtos/categoria/creditos-virtuais"
        class="icon"
        aria-label="Ícone 4"
      >
        <i class="fas fa-credit-card"></i>
        <p>Créditos</p>
      </div>
      <div
        routerLink="/produtos/categoria/software"
        class="icon"
        aria-label="Ícone 5"
      >
        <i class="fas fa-laptop"></i>
        <p>Software</p>
      </div>
      <div
        routerLink="/produtos/categoria/conteudo-adicional"
        class="icon"
        aria-label="Ícone 6"
      >
        <i class="fas fa-book-open"></i>
        <p>Conteúdos Adicionais</p>
      </div>
    </div>
  </div>

  <p-carousel
    [value]="recentProducts"
    [numVisible]="6"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    class="recent-products-carousel custom-carousel-size"
  >
    <ng-template pTemplate="header">
      <h2 class="text">Produtos Adicionado Recentemente</h2>
    </ng-template>

    <ng-template pTemplate="item" let-product>
      <div class="card-total">
        <app-card-product [product]="product"></app-card-product>
      </div>
    </ng-template>
  </p-carousel>
</div>
