@use "../../../styles.scss" as style;

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.mySwiper {
  width: 100%;
  height: 600px;
}
.carousel {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.p-carousel .p-carousel-indicator-active .p-carousel-indicator-button{
  background-color: style.$purpleColor !important;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;

  h2 {
    text-align: center;
  }

  .box-icon {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    @media screen and (max-width: 1161px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    .icon {
      width: 150px;
      height: 150px;
      color: style.$blackColor;
      border-radius: 50%;
      border: 5px solid style.$blackColor;
      margin: auto;
      transition: transform 0.3s ease, color 0.3s ease,
        background-color 0.3s ease, border 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        color: style.$whiteColor;
        background-color: style.$purpleColor;
        border: 5px solid style.$purpleColor;
      }

      i {
        font-size: 3rem;
      }

      p {
        font-size: 1rem;
        margin-top: 0.5rem;
        text-align: center;
      }
    }
  }
  @media screen and (max-width: 1161px) {
  }
}

.custom-carousel-size .card-total {
  height: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: style.$blackColor;
  opacity: 0;
  visibility: hidden;
  display: none;
  margin: 0 auto 200px auto;
  position: relative;
  top: 50px;
  transition: opacity 0.6s ease, visibility 0.6s ease, transform 0.6s ease;
  transform: translateY(50px);

  &.show {
    opacity: 1;
    visibility: visible;
    display: block;
    transform: translateY(-105px);
  }

  button {
    color: style.$whiteColor;
    border: style.$greenColor 1px solid;
    background-color: style.$greenColor;

    &:hover {
      background-color: style.$hoverGreenColor;
      border: style.$hoverGreenColor 1px solid;
    }
  }
}
