<div class="main">
  <div class="carousel">
    <swiper-container
      style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
      class="mySwiper"
      thumbs-swiper=".mySwiper2"
      space-between="10"
      navigation="true"
      loop="true"
      pagination="true"
      autoplay="true"
      autoplay-delay="8000"
    >
      <swiper-slide>
        <img src="../../../assets/imgs/1.png" alt="Imagem 1" />
      </swiper-slide>
      <swiper-slide>
        <img src="../../../assets/imgs/2.png" alt="Imagem 2" />
      </swiper-slide>
    </swiper-container>
  </div>
  <div class="box">
    <h2>Categorias</h2>
    <div class="box-icon">
      <div
        routerLink="/produtos/categoria/Jogos"
        class="icon"
        aria-label="Ícone 1"
      >
        <i class="bx bxs-joystick"></i>
        <p>Jogos</p>
      </div>

      <div
        routerLink="/produtos/categoria/GiftCards"
        class="icon"
        aria-label="Ícone 2"
      >
        <i class="bx bxs-gift"></i>
        <p>Gift Card</p>
      </div>
      <div
        routerLink="/produtos/categoria/AssinaturasdeServicos"
        class="icon"
        aria-label="Ícone 3"
      >
        <i class="fas fa-user-tie"></i>
        <p>Assinaturas</p>
      </div>
      <div
        routerLink="/produtos/categoria/CreditosVirtuais"
        class="icon"
        aria-label="Ícone 4"
      >
        <i class="fas fa-credit-card"></i>
        <p>Créditos</p>
      </div>
      <div routerLink="/produtos/categoria/" class="icon" aria-label="Ícone 5">
        <i class="fas fa-laptop"></i>
        <p>Software</p>
      </div>
      <div routerLink="/produtos/categoria/" class="icon" aria-label="Ícone 6">
        <i class="fas fa-book-open"></i>
        <p>Conteúdos Adicionais</p>
      </div>
    </div>
  </div>

  <p-carousel
    [value]="recentProducts"
    [numVisible]="6"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    class="recent-products-carousel custom-carousel-size"
  >
    <ng-template pTemplate="header">
      <h2 class="text">Produtos Adicionado Recentemente</h2>
    </ng-template>

    <ng-template pTemplate="item" let-product>
      <div class="card-total">
        <div class="card">
          <div
            class="body-card"
            role="button"
            (mouseenter)="toggleHover(product, true)"
            (mouseleave)="toggleHover(product, false)"
          >
            <div class="card-cont">
              <i
                class="fa-heart heart-icon heart-icon-{{ product.id }} {{
                  product.isFavorite ? 'fas' : 'far'
                }}"
                (click)="toggleFavorite(product)"
              ></i>
              <div routerLink="/detalhe-produto/{{ product.id }}">
                <div>
                  <img
                    class="rounded img"
                    src="{{ product.capaUrl.sm }}"
                    alt="Foto do {{ product.name }}"
                  />
                </div>
                <div class="mt-3">
                  <h5>
                    {{ product.name.slice(0, 15)
                    }}<span *ngIf="product.name.length > 15">...</span>
                  </h5>
                  <h3 class="text-color">R$ {{ product.price }}</h3>
                </div>
              </div>

              <div
                class="message mt-3 d-flex justify-content-center align-items-center"
                [ngClass]="{ show: product.isHovered }"
              >
                <button
                  class="btn btn-outline-light w-100 m-3"
                  (click)="addToCart(product)"
                >
                  <i class="bx bx-cart-add"></i>
                  Comprar
                </button>
              </div>
            </div>
          </div>
          <div class="glass"></div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
