@use "../../../styles.scss" as style;

.contain {
  width: 100%;
  height: 100%;
  margin: auto;

  .containForm {
    display: flex;
    width: 98%;
    height: 75vh;
    align-items: stretch;

    .img {
      width: 80%;
      height: 80%;
      background-image: url("../../../assets/imgs/shopping.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      filter: drop-shadow(5px 5px 5px style.$purpleColor);
    }

    .form {
      margin: 3.5% auto;
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 1.3125rem;
      .text {
        margin: 0 auto;
        width: 90%;
      }

      .input-field {
        margin: 0 auto;
        width: 90%;
        p-floatLabel {
          input {
            width: 100%;
          }
        }
      }
      button {
        margin: 0 auto;
        width: 90%;
        background-color: style.$whiteColor;
        border: 1px solid style.$purpleColor;
        color: style.$purpleColor;
        border-radius: 10px;
        transition: 0.6s;
        font-size: 1.125rem;
        padding: 0.625rem;
        &:hover {
          background-color: style.$hoverPurpleColor;
          border: 1px solid style.$hoverPurpleColor;
          color: style.$whiteColor;
        }
      }
    }
  }
}

.ng-invalid.ng-touched {
  border-color: style.$RedColor;
}
.ng-invalid.ng-touched ~ label {
  color: style.$RedColor !important;
}

.error {
  color: style.$RedColor;
  font-size: 0.875rem;
  padding: 0;
}
