<footer class="footer">
  <div class="footer-content">
    <div class="footer-column">
      <h3>Codeshop</h3>
      <p>
        Na Codeshop, você encontra chaves de ativação originais para softwares e
        jogos com entrega rápida e segura. Conte com nossa loja para uma
        experiência confiável e suporte dedicado em suas compras digitais!
      </p>
    </div>

    <div class="footer-column">
      <h4>Contato</h4>
      <p>Email: suporte&#64;codeshop.com</p>
      <p>Telefone: (11) 1234-5678</p>
      <p>Endereço: Rua Exemplo, 123 - São Paulo, SP</p>
    </div>

    <div class="footer-column">
      <h4>Links Úteis</h4>
      <ul>
        <li><a routerLink="/">Início</a></li>
        <li><a routerLink="/about">Sobre Nós</a></li>
        <li><a routerLink="/faq">FAQ</a></li>
        <li><a routerLink="/support">Suporte</a></li>
        <li><a routerLink="/terms">Termos de Serviço</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>Siga-nos</h4>
      <div class="social-links">
        <a href="https://facebook.com" target="_blank"
          ><i class="pi pi-facebook"></i
        ></a>
        <a href="https://twitter.com" target="_blank"
          ><i class="pi pi-twitter"></i
        ></a>
        <a href="https://instagram.com" target="_blank"
          ><i class="pi pi-instagram"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2024 Codeshop. Todos os direitos reservados.</p>
    <p>Desenvolvido por José Victor e Felipe Rogério</p>
  </div>
</footer>
