@use "../../../styles.scss" as style;

.totalCard {
  height: 22rem;
}

.card {
  width: 15.625rem;
  height: 20rem;
  background: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 1px #00000088;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;

  &:hover {
    transform: scale(1.05);
    z-index: 2;
    box-shadow: 0px 0px 10px 3px #00000088;

    .message {
      display: block;
      opacity: 1;
      visibility: visible;
    }
  }

  &::before {
    opacity: 1;
    content: "";
    position: absolute;
    display: block;
    width: 220px;
    height: 300px;
    transform: rotate(0deg) translateY(50%);
    background: linear-gradient(90deg, style.$purpleColor, transparent);
    transition: opacity 300ms;
    animation: rotation_9018 3000ms infinite linear;
    animation-play-state: paused;
  }

  &::after {
    opacity: 1;
    content: "";
    position: absolute;
    display: block;
    width: 220px;
    height: 300px;
    transform: rotate(0deg) translateY(-50%);
    background: linear-gradient(90deg, transparent, style.$purpleColor);
    transition: opacity 300ms;
    animation: rotation_9019 3000ms infinite linear;
    animation-play-state: paused;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
    animation-play-state: running;
  }

  &:hover .glass {
    opacity: 0;
  }
}

.glass {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(23, 23, 23, 0.2);
  backdrop-filter: blur(50px);
  z-index: 1;
  transition-duration: 0.5s;
}

.body-card {
  border-radius: 10px;
  background: #171717;
  width: 246px;
  height: 314px;
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  
  .card-cont {
    width: 100%;
    height: 100%;
  }

  &::before {
    content: "";
    display: block;
    background: #fff5;
    width: 50px;
    height: 50px;
    position: absolute;
    filter: blur(50px);
    opacity: 0;
    transition: opacity 300ms;
  }

  &:hover::before {
    opacity: 1;
  }
}

.heart-icon {
  z-index: 1000;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color 0.3s ease, border-color 0.3s ease;
  visibility: hidden;
  opacity: 0;
  background-color: style.$blackColor;

  &.fas {
    color: style.$RedColor;
    border-color: style.$RedColor;
  }
}

.card:hover .heart-icon {
  visibility: visible;
  opacity: 1;
}

.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
}

.message {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: style.$blackColor;
  opacity: 0;
  visibility: hidden;
  display: none;
  margin: 0 auto 200px auto;
  position: relative;
  top: 50px;
  transition: opacity 0.6s ease, visibility 0.6s ease, transform 0.6s ease;
  transform: translateY(50px);

  &.show {
    opacity: 1;
    visibility: visible;
    display: block;
    transform: translateY(-105px);
  }

  button {
    color: style.$whiteColor;
    border: style.$greenColor 1px solid;
    background-color: style.$greenColor;

    &:hover {
      background-color: style.$hoverGreenColor;
      border: style.$hoverGreenColor 1px solid;
    }
  }
}

@keyframes rotation_9018 {
  0% {
    transform: rotate(0deg) translateY(50%);
  }
  100% {
    transform: rotate(360deg) translateY(50%);
  }
}

@keyframes rotation_9019 {
  0% {
    transform: rotate(0deg) translateY(-50%);
  }
  100% {
    transform: rotate(360deg) translateY(-50%);
  }
}
