$blackColor: #181818;
$hoverBlackColor: #dbdbdb28;
$whiteColor: #ffffff;
$RedColor: #ef4444;
$hoverRedColor: #cc3b3b;
$greenColor: #10b981;
$hoverGreenColor: #0f995f;
$purpleColor: #8b5cf6;
$hoverPurpleColor: #6b46c1;
$boderPurpleColor: #4c1d95;

.main-container-create-product p-stepper ul {
  padding: 0;
}

p-button.rounded-icon-custom button {
  border-radius: 50% !important;
}

p-button.rounded-button-stepper-custom button {
  border-radius: 10px !important;
}