<div class="main-container">
  <p-toast />
  <div *ngIf="existsProduct" class="main-container-products">
    @for (product of products; track $index) {
    <div class="block">
      <app-card-product [product]="product"></app-card-product>
    </div>
    }
  </div>
  <div class="productNotFound" *ngIf="!existsProduct">
    <h3>
      Não encontramos produto que atenda a esse filtro. Continue procurando!
    </h3>
    <div class="d-flex justify-content-center">
      <img
        class="img-custom"
        src="../../../assets/imgs/not-found-product.png"
      />
    </div>
  </div>
</div>

