<div class="contain">
  <div class="cont text-center">
    <div class="profile">
      <div class="avatar">
        <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
          ><img class="rounded-circle" src="{{ avatar }}" alt="" />
          <i class="fa fa-pencil edit-icon"></i
        ></a>
      </div>
      <h2>{{ username }}</h2>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLabel">
            Alterar Perfil
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="file" class="form-label">Imagem de Perfil</label>
            <input
              type="file"
              class="form-control"
              id="inputGroupFile01"
              (change)="onFileSelected($event)"
            />
          </div>
          <div class="mb-3"></div>
          <button type="submit" (click)="uploadFile()" class="btn btn-primary">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="menu">
    <button class="module" (click)="mostrarConteudo()">Visão Geral</button>
    <div class="listra"></div>
    <button class="module" (click)="exibirOpcao('Biblioteca')">
      Biblioteca de Codigos
    </button>
    <div class="listra"></div>
    <button class="module" (click)="exibirOpcao('Compras')">
      Suas Compras
    </button>
    @if(nivel == 1){
    <div class="listra"></div>
    <button class="module" (click)="exibirOpcao('Seller')">
      Seja um Vendedor
    </button>
    }
  </div>
  @if(logado == true){
  <div *ngIf="exibirConteudo" class="mx-auto">
    <app-user-dados></app-user-dados>
  </div>

  <div *ngIf="opcaoSelecionada === 'Biblioteca'" id="biblioteca">
    <app-library-key></app-library-key>
  </div>
  <div *ngIf="opcaoSelecionada === 'Compras'">
    <app-purchase-history></app-purchase-history>
  </div>
  @if(nivel == 1){
  <div *ngIf="opcaoSelecionada === 'Seller'">
    <app-seller></app-seller>
  </div>
  } }@else {
  <h1>Logue-se para acessar esta página</h1>
  }
</div>
